@media (max-width: 1100px) {
    .navbar-nav {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 48px;
    }

    .navbar {
        height: 48px;
    }

    .navbar-brand {
        height: 48px;
        width: 48px;
        background-size: 48px;
    }

    .navbar-text h4 {
        font-size: 1.4rem;
        margin-bottom: 0;
    }

    .sidebar {
        top: 48px;
        width: 100%;
        height: 500px;
        transition: height 0.1s ease-in-out;
        max-height: 80vh;
    }

    .main {
        padding-left: 0;
        padding-top: 5px;
    }

    .navbar-text h6 {
        display: none;
    }

    .navbar-toggler {
        display: inline-block;
    }

    .collapse:not(.show) {
        display: none;
    }

    .collapsing {
        height: 0px;
    }

    .main {
        max-height: calc(100vh - 48px);
    }

    #child-page-title>p{
        display: none;
    }

    .tab-content{
        height: calc(100% - 59px);
    }
}

@media (max-width: 400px){
    .navbar-text h4 {
        font-size: 1.15rem;
        margin-bottom: 0;
    }

    #child-page-title h1{
        font-size: 1.8rem;
    }

    .navbar-toggler span{
        font-size: 1rem;
    }

    .navbar-toggler{
        margin-right: 0.8rem!important;
        padding: 0.25rem 0.5rem;
    }

    .navbar-brand{
        margin-right: 0.5rem;
    }
}

@media (max-width: 350px){
    .nav-tabs .nav-link{
        font-size: 1.3rem;
    }
    .tab-content{
        height: calc(100% - 54px);
    }
}