/**
 * @file icon.css
 */

@font-face {
    font-family: "vectormap-icons";
    src: url("vectormap-icons.eot"); /* IE9 */
    src: url("vectormap-icons.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("vectormap-icons.woff") format("woff"), /* chrome、firefox */
    url("vectormap-icons.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("vectormap-icons.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


.icon {
    font-family: "vectormap-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-tg-information:before {
  content: "\e001";
}

.icon-tg-swimming:before {
  content: "\e002";
}

.icon-tg-wind_power:before {
  content: "\e003";
}

.icon-tg-gas_power:before {
  content: "\e004";
}

.icon-tg-solar_power:before {
  content: "\e005";
}

.icon-tg-hydro:before {
  content: "\e006";
}

.icon-tg-mineshaft:before {
  content: "\e007";
}

.icon-tg-clockwise:before {
  content: "\e008";
}

.icon-tg-anticlockwise:before {
  content: "\e009";
}

.icon-tg-pizza:before {
  content: "\e00a";
}

.icon-tg-private:before {
  content: "\e00b";
}

.icon-tg-jewish:before {
  content: "\e00c";
}

.icon-tg-buddhist:before {
  content: "\e00d";
}

.icon-tg-christian:before {
  content: "\e00e";
}

.icon-tg-hindu:before {
  content: "\e00f";
}

.icon-tg-muslim:before {
  content: "\e010";
}

.icon-tg-jain:before {
  content: "\e011";
}

.icon-tg-shinto:before {
  content: "\e012";
}

.icon-tg-sikh:before {
  content: "\e013";
}

.icon-tg-men:before {
  content: "\e014";
}

.icon-tg-women:before {
  content: "\e015";
}

.icon-tg-weir:before {
  content: "\e016";
}

.icon-tg-caravan_site:before {
  content: "\e017";
}

.icon-tg-chalet:before {
  content: "\e018";
}

.icon-tg-skiing:before {
  content: "\e019";
}

.icon-tg-archery:before {
  content: "\e01a";
}

.icon-tg-diving:before {
  content: "\e01b";
}

.icon-tg-gymnastics:before {
  content: "\e01c";
}

.icon-tg-horse_racing:before {
  content: "\e01d";
}

.icon-tg-ice_stock:before {
  content: "\e01e";
}

.icon-tg-motor:before {
  content: "\e01f";
}

.icon-tg-shooting:before {
  content: "\e020";
}

.icon-tg-soccer:before {
  content: "\e021";
}

.icon-tg-tennis:before {
  content: "\e022";
}

.icon-tg-alcohol:before {
  content: "\e023";
}

.icon-tg-bakery:before {
  content: "\e024";
}

.icon-tg-bicycle:before {
  content: "\e025";
}

.icon-tg-books:before {
  content: "\e026";
}

.icon-tg-butcher:before {
  content: "\e027";
}

.icon-tg-car:before {
  content: "\e028";
}

.icon-tg-car_repair:before {
  content: "\e029";
}

.icon-tg-clothes:before {
  content: "\e02a";
}

.icon-tg-computer:before {
  content: "\e02b";
}

.icon-tg-confectionery:before {
  content: "\e02c";
}

.icon-tg-convenience:before {
  content: "\e02d";
}

.icon-tg-copyshop:before {
  content: "\e02e";
}

.icon-tg-department_store:before {
  content: "\e02f";
}

.icon-tg-doityourself:before {
  content: "\e030";
}

.icon-tg-florist:before {
  content: "\e031";
}

.icon-tg-greengrocer:before {
  content: "\e032";
}

.icon-tg-gift:before {
  content: "\e033";
}

.icon-tg-hairdresser:before {
  content: "\e034";
}

.icon-tg-hearing_aids:before {
  content: "\e035";
}

.icon-tg-hifi:before {
  content: "\e036";
}

.icon-tg-jewelry:before {
  content: "\e037";
}

.icon-tg-kiosk:before {
  content: "\e038";
}

.icon-tg-laundry:before {
  content: "\e039";
}

.icon-tg-mobile_phone:before {
  content: "\e03a";
}

.icon-tg-musical_instrument:before {
  content: "\e03b";
}

.icon-tg-newsagent:before {
  content: "\e03c";
}

.icon-tg-optician:before {
  content: "\e03d";
}

.icon-tg-pet:before {
  content: "\e03e";
}

.icon-tg-supermarket:before {
  content: "\e03f";
}

.icon-tg-tobacco:before {
  content: "\e040";
}

.icon-tg-toys:before {
  content: "\e041";
}

.icon-tg-video:before {
  content: "\e042";
}

.icon-tg-estate_agent:before {
  content: "\e043";
}

.icon-tg-crane:before {
  content: "\e044";
}

.icon-tg-windmill:before {
  content: "\e045";
}

.icon-tg-traffic_signals:before {
  content: "\e046";
}

.icon-tg-wreck:before {
  content: "\e047";
}

.icon-tg-barrier_block:before {
  content: "\e048";
}

.icon-tg-bollard:before {
  content: "\e049";
}

.icon-tg-cattle_grid:before {
  content: "\e04a";
}

.icon-tg-entrance:before {
  content: "\e04b";
}

.icon-tg-gate:before {
  content: "\e04c";
}

.icon-tg-stile:before {
  content: "\e04d";
}

.icon-tg-lift_gate:before {
  content: "\e04e";
}

.icon-tg-toll_booth:before {
  content: "\e04f";
}

.icon-tg-bench:before {
  content: "\e050";
}

.icon-tg-clock:before {
  content: "\e051";
}

.icon-tg-drinking_water:before {
  content: "\e052";
}

.icon-tg-ice_cream:before {
  content: "\e053";
}

.icon-tg-nursing_home:before {
  content: "\e054";
}

.icon-tg-post_box:before {
  content: "\e055";
}

.icon-tg-post_office:before {
  content: "\e056";
}

.icon-tg-recycling:before {
  content: "\e057";
}

.icon-tg-telephone:before {
  content: "\e058";
}

.icon-tg-vending_machine:before {
  content: "\e059";
}

.icon-tg-plant:before {
  content: "\e05a";
}

.icon-tg-deciduous:before {
  content: "\e05b";
}

.icon-tg-mixed:before {
  content: "\e05c";
}

.icon-tg-coniferous:before {
  content: "\e05d";
}

.icon-tg-artwork:before {
  content: "\e05e";
}

.icon-tg-picnic_site:before {
  content: "\e05f";
}

.icon-tg-baseball:before {
  content: "\e060";
}

.icon-tg-canoe:before {
  content: "\e061";
}

.icon-tg-climbing:before {
  content: "\e062";
}

.icon-tg-cricket:before {
  content: "\e063";
}

.icon-tg-golf:before {
  content: "\e064";
}

.icon-tg-garden_centre:before {
  content: "\e065";
}

.icon-tg-motorcycle:before {
  content: "\e066";
}

.icon-tg-sub_station:before {
  content: "\e067";
}

.icon-tg-cave_entrance:before {
  content: "\e068";
}

.icon-tg-lighthouse:before {
  content: "\e069";
}

.icon-tg-water_tower:before {
  content: "\e06a";
}

.icon-tg-marina:before {
  content: "\e06b";
}

.icon-tg-slipway:before {
  content: "\e06c";
}

.icon-tg-bus_stop:before {
  content: "\e06d";
}

.icon-tg-battlefield:before {
  content: "\e06e";
}

.icon-tg-castle:before {
  content: "\e06f";
}

.icon-tg-memorial:before {
  content: "\e070";
}

.icon-tg-ruins:before {
  content: "\e071";
}

.icon-tg-bicycle_parking:before {
  content: "\e072";
}

.icon-tg-car_rental:before {
  content: "\e073";
}

.icon-tg-bicycle_rental:before {
  content: "\e074";
}

.icon-tg-casino:before {
  content: "\e075";
}

.icon-tg-fountain:before {
  content: "\e076";
}

.icon-tg-pub:before {
  content: "\e077";
}

.icon-tg-shelter:before {
  content: "\e078";
}

.icon-tg-waste_disposal:before {
  content: "\e079";
}

.icon-tg-viewpoint:before {
  content: "\e07a";
}

.icon-tg-airport:before {
  content: "\e07b";
}

.icon-tg-zoo:before {
  content: "\e07c";
}

.icon-tg-theatre:before {
  content: "\e07d";
}

.icon-tg-theme_park:before {
  content: "\e07e";
}

.icon-tg-motel:before {
  content: "\e07f";
}

.icon-tg-hostel:before {
  content: "\e080";
}

.icon-tg-camp_site:before {
  content: "\e081";
}

.icon-tg-hotel:before {
  content: "\e082";
}

.icon-tg-museum:before {
  content: "\e083";
}

.icon-tg-attraction:before {
  content: "\e084";
}

.icon-tg-fitness_centre:before {
  content: "\e085";
}

.icon-tg-swimming_pool:before {
  content: "\e086";
}

.icon-tg-water_park:before {
  content: "\e087";
}

.icon-tg-sports_centre:before {
  content: "\e088";
}

.icon-tg-playground:before {
  content: "\e089";
}

.icon-tg-golf_course:before {
  content: "\e08a";
}

.icon-tg-miniature_golf:before {
  content: "\e08b";
}

.icon-tg-garden:before {
  content: "\e08c";
}

.icon-tg-park:before {
  content: "\e08d";
}

.icon-tg-toilets:before {
  content: "\e08e";
}

.icon-tg-townhall:before {
  content: "\e08f";
}

.icon-tg-prison:before {
  content: "\e090";
}

.icon-tg-police:before {
  content: "\e091";
}

.icon-tg-place_of_worship:before {
  content: "\e092";
}

.icon-tg-market:before {
  content: "\e093";
}

.icon-tg-grave_yard:before {
  content: "\e094";
}

.icon-tg-embassy:before {
  content: "\e095";
}

.icon-tg-fire_station:before {
  content: "\e096";
}

.icon-tg-courthouse:before {
  content: "\e097";
}

.icon-tg-community_centre:before {
  content: "\e098";
}

.icon-tg-cinema:before {
  content: "\e099";
}

.icon-tg-art_centre:before {
  content: "\e09a";
}

.icon-tg-veterinary:before {
  content: "\e09b";
}

.icon-tg-social_facility:before {
  content: "\e09c";
}

.icon-tg-pharmacy:before {
  content: "\e09d";
}

.icon-tg-dentist:before {
  content: "\e09e";
}

.icon-tg-clinic:before {
  content: "\e09f";
}

.icon-tg-hospital:before {
  content: "\e0a0";
}

.icon-tg-bank:before {
  content: "\e0a1";
}

.icon-tg-taxi:before {
  content: "\e0a2";
}

.icon-tg-atm:before {
  content: "\e0a3";
}

.icon-tg-parking:before {
  content: "\e0a4";
}

.icon-tg-fuel:before {
  content: "\e0a5";
}

.icon-tg-bus_station:before {
  content: "\e0a6";
}

.icon-tg-national_park:before {
  content: "\e0a7";
}

.icon-tg-school:before {
  content: "\e0a8";
}

.icon-tg-library:before {
  content: "\e0a9";
}

.icon-tg-kindergarden:before {
  content: "\e0aa";
}

.icon-tg-college:before {
  content: "\e0ab";
}

.icon-tg-fast_food:before {
  content: "\e0ac";
}

.icon-tg-food:before {
  content: "\e0ad";
}

.icon-tg-cafe:before {
  content: "\e0ae";
}

.icon-tg-biergarden:before {
  content: "\e0af";
}

.icon-tg-bbq:before {
  content: "\e0b0";
}

.icon-tg-bar:before {
  content: "\e0b1";
}

.icon-tg-subway_entrance:before {
  content: "\e0b2";
}

.icon-tg-station:before {
  content: "\e0b3";
}

.icon-tg-peak:before {
  content: "\e0b4";
}

.icon-tg-map:before {
  content: "\e0b5";
}

.icon-tg-guidepost:before {
  content: "\e0b6";
}

.icon-tg-bunker:before {
  content: "\e0b7";
}

.icon-tg-tower:before {
  content: "\e0b8";
}



